backup/scada_flows.json
[
    {
        "id": "tmc_modbus_server_node",
        "type": "modbus-server",
        "z": "9251d5525d119844",
        "name": "TMC Data Hub Server",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": "5020",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": "1024",
        "holdingBufferSize": "1024",
        "inputBufferSize": "1024",
        "discreteBufferSize": "1024",
        "showErrors": false,
        "showStatusActivities": false,
        "x": 160,
        "y": 100,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "sim_inject",
        "type": "inject",
        "z": "9251d5525d119844",
        "name": "Traffic Simulator Tick",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "sim_function"
            ]
        ]
    },
    {
        "id": "sim_function",
        "type": "function",
        "z": "9251d5525d119844",
        "name": "Generate & Format Traffic Data",
        "func": "const trafficVolumes = [];\nfor (let i = 0; i < 4; i++) {\n    const volumeNS = Math.floor(Math.random() * 100);\n    const volumeEW = Math.floor(Math.random() * 100);\n    trafficVolumes.push(volumeNS, volumeEW);\n}\nmsg.payload = { \n    value: trafficVolumes, \n    'fc': 16, \n    'unitid': 1, \n    'address': 100, \n    'quantity': 8 \n};\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "2fe6e6594d1ece36"
            ]
        ]
    },
    {
        "id": "logic_reader",
        "type": "modbus-read",
        "z": "9251d5525d119844",
        "name": "Read Traffic Data from Hub",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "100",
        "quantity": "8",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "bb07d44f9dcc13ad",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "adaptive_logic_func",
                "split_for_gauges"
            ],
            []
        ]
    },
    {
        "id": "adaptive_logic_func",
        "type": "function",
        "z": "9251d5525d119844",
        "name": "Adaptive Control Logic",
        "func": "const volumes = msg.payload;\nconst intersections = ['a', 'b', 'c', 'd'];\n\n// 데이터가 유효하지 않으면 로직을 실행하지 않음\nif (!Array.isArray(volumes) || volumes.length < 8) {\n    return null;\n}\n\nfunction calculateGreenTime(volume) {\n    return 5 + Math.round((volume / 100) * 10);\n}\nfor (let i = 0; i < intersections.length; i++) {\n    const ns_green_time = calculateGreenTime(volumes[i * 2]);\n    const ew_green_time = calculateGreenTime(volumes[i * 2 + 1]);\n    node.send({\n        topic: intersections[i],\n        payload: { \n            value: [ns_green_time, ew_green_time],\n            'fc': 16, \n            'unitid': 1, \n            'address': 10, \n            'quantity': 2\n        }\n    });\n}\nreturn null;",
        "outputs": 1,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "dispatch_control_cmd"
            ]
        ]
    },
    {
        "id": "dispatch_control_cmd",
        "type": "switch",
        "z": "9251d5525d119844",
        "name": "Dispatch to PLC",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "c",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "d",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "dfd1dba2ea86acf9"
            ],
            [
                "345aa0da70baf62f"
            ],
            [
                "3083869f26f9a8e9"
            ],
            [
                "70acb6a73e0143ed"
            ]
        ]
    },
    {
        "id": "split_for_gauges",
        "type": "function",
        "z": "9251d5525d119844",
        "name": "Split for Gauges (Robust)",
        "func": "const topics = ['A_NS', 'A_EW', 'B_NS', 'B_EW', 'C_NS', 'C_EW', 'D_NS', 'D_EW'];\nconst outputs = [];\n\n// 데이터가 배열이 아니거나 길이가 맞지 않으면 (초기화, 에러 상황)\nif (!Array.isArray(msg.payload) || msg.payload.length < 8) {\n    // 모든 게이지에 안전한 기본값 0을 보냄\n    for (let i = 0; i < 8; i++) {\n        outputs.push({\n            topic: topics[i],\n            payload: 0\n        });\n    }\n    node.warn(\"Invalid Modbus data. Sending default 0 to gauges.\");\n    return outputs;\n}\n\n// 정상 데이터 처리\nfor (let i = 0; i < 8; i++) {\n    outputs.push({\n        topic: topics[i],\n        payload: msg.payload[i]\n    });\n}\n\nreturn outputs;",
        "outputs": 8,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "ui_gauge_a_ns"
            ],
            [
                "ui_gauge_a_ew"
            ],
            [
                "ui_gauge_b_ns"
            ],
            [
                "ui_gauge_b_ew"
            ],
            [
                "ui_gauge_c_ns"
            ],
            [
                "ui_gauge_c_ew"
            ],
            [
                "ui_gauge_d_ns"
            ],
            [
                "ui_gauge_d_ew"
            ]
        ]
    },
    {
        "id": "ui_gauge_a_ns",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "A (남↔북)",
        "group": "group_tmc_control",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "A (남↔북)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "ui_gauge_a_ew",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "A (동↔서)",
        "group": "group_tmc_control",
        "order": 2,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "A (동↔서)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_gauge_b_ns",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "B (남↔북)",
        "group": "group_tmc_control",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "B (남↔북)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_gauge_b_ew",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "B (동↔서)",
        "group": "group_tmc_control",
        "order": 4,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "B (동↔서)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "ui_gauge_c_ns",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "C (남↔북)",
        "group": "group_tmc_control",
        "order": 5,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "C (남↔북)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "ui_gauge_c_ew",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "C (동↔서)",
        "group": "group_tmc_control",
        "order": 6,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "C (동↔서)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "ui_gauge_d_ns",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "D (남↔북)",
        "group": "group_tmc_control",
        "order": 7,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "D (남↔북)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "ui_gauge_d_ew",
        "type": "ui_gauge",
        "z": "9251d5525d119844",
        "name": "D (동↔서)",
        "group": "group_tmc_control",
        "order": 8,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "D (동↔서)",
        "label": "Traffic",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 710,
        "y": 620,
        "wires": []
    },
    {
        "id": "read_plc_a_coils",
        "type": "modbus-read",
        "z": "9251d5525d119844",
        "name": "Read PLC A Coils",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "002416d95ed618bb",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 920,
        "wires": [
            [
                "process_plc_a_data"
            ],
            []
        ]
    },
    {
        "id": "read_plc_b_coils",
        "type": "modbus-read",
        "z": "9251d5525d119844",
        "name": "Read PLC B Coils",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "86497a2f59dbf570",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 980,
        "wires": [
            [
                "process_plc_b_data"
            ],
            []
        ]
    },
    {
        "id": "read_plc_c_coils",
        "type": "modbus-read",
        "z": "9251d5525d119844",
        "name": "Read PLC C Coils",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "946a34dccba15f97",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "process_plc_c_data"
            ],
            []
        ]
    },
    {
        "id": "read_plc_d_coils",
        "type": "modbus-read",
        "z": "9251d5525d119844",
        "name": "Read PLC D Coils",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "282a9bdec27cff20",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "process_plc_d_data"
            ],
            []
        ]
    },
    {
        "id": "process_plc_a_data",
        "type": "function",
        "z": "9251d5525d119844",
        "name": "Process PLC A Data",
        "func": "// msg.values  ->  msg.payload 로 수정\nconst l = msg.payload;\n\n// 데이터가 없으면 중단합니다.\nif (!l) {\n    return null;\n}\n\n// 4개의 신호등에 맞게 데이터를 분리하여 각 출력으로 보냅니다.\nconst msg1 = { payload: { r: l[0], y: l[1], g: l[2] } };\nconst msg2 = { payload: { r: l[3], y: l[4], g: l[5] } };\nconst msg3 = { payload: { r: l[6], y: l[7], g: l[8] } };\nconst msg4 = { payload: { r: l[9], y: l[10], g: l[11] } };\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "light_a_s"
            ],
            [
                "light_a_e"
            ],
            [
                "light_a_n"
            ],
            [
                "light_a_w"
            ]
        ]
    },
    {
        "id": "process_plc_b_data",
        "type": "function",
        "z": "9251d5525d119844",
        "name": "Process PLC B Data",
        "func": "// msg.values  ->  msg.payload 로 수정\nconst l = msg.payload;\n\n// 데이터가 없으면 중단합니다.\nif (!l) {\n    return null;\n}\n\n// 4개의 신호등에 맞게 데이터를 분리하여 각 출력으로 보냅니다.\nconst msg1 = { payload: { r: l[0], y: l[1], g: l[2] } };\nconst msg2 = { payload: { r: l[3], y: l[4], g: l[5] } };\nconst msg3 = { payload: { r: l[6], y: l[7], g: l[8] } };\nconst msg4 = { payload: { r: l[9], y: l[10], g: l[11] } };\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 980,
        "wires": [
            [
                "light_b_s"
            ],
            [
                "light_b_e"
            ],
            [
                "light_b_n"
            ],
            [
                "light_b_w"
            ]
        ]
    },
    {
        "id": "process_plc_c_data",
        "type": "function",
        "z": "9251d5525d119844",
        "name": "Process PLC C Data",
        "func": "// msg.values  ->  msg.payload 로 수정\nconst l = msg.payload;\n\n// 데이터가 없으면 중단합니다.\nif (!l) {\n    return null;\n}\n\n// 4개의 신호등에 맞게 데이터를 분리하여 각 출력으로 보냅니다.\nconst msg1 = { payload: { r: l[0], y: l[1], g: l[2] } };\nconst msg2 = { payload: { r: l[3], y: l[4], g: l[5] } };\nconst msg3 = { payload: { r: l[6], y: l[7], g: l[8] } };\nconst msg4 = { payload: { r: l[9], y: l[10], g: l[11] } };\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1040,
        "wires": [
            [
                "light_c_s"
            ],
            [
                "light_c_e"
            ],
            [
                "light_c_n"
            ],
            [
                "light_c_w"
            ]
        ]
    },
    {
        "id": "process_plc_d_data",
        "type": "function",
        "z": "9251d5525d119844",
        "name": "Process PLC D Data",
        "func": "// msg.values  ->  msg.payload 로 수정\nconst l = msg.payload;\n\n// 데이터가 없으면 중단합니다.\nif (!l) {\n    return null;\n}\n\n// 4개의 신호등에 맞게 데이터를 분리하여 각 출력으로 보냅니다.\nconst msg1 = { payload: { r: l[0], y: l[1], g: l[2] } };\nconst msg2 = { payload: { r: l[3], y: l[4], g: l[5] } };\nconst msg3 = { payload: { r: l[6], y: l[7], g: l[8] } };\nconst msg4 = { payload: { r: l[9], y: l[10], g: l[11] } };\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "light_d_s"
            ],
            [
                "light_d_e"
            ],
            [
                "light_d_n"
            ],
            [
                "light_d_w"
            ]
        ]
    },
    {
        "id": "light_a_s",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_a",
        "name": "남쪽",
        "order": 1,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "light_a_e",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_a",
        "name": "동쪽",
        "order": 2,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "light_a_n",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_a",
        "name": "북쪽",
        "order": 3,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "light_a_w",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_a",
        "name": "서쪽",
        "order": 4,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "dropdown_a",
        "type": "ui_dropdown",
        "z": "9251d5525d119844",
        "name": "운전 모드",
        "label": "운전 모드",
        "group": "group_intersection_a",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": true,
        "options": [
            {
                "label": "일반 주기",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "write_mode_a"
            ]
        ]
    },
    {
        "id": "write_mode_a",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write Mode A",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "002416d95ed618bb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 360,
        "y": 1160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "light_b_s",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_b",
        "name": "남쪽",
        "order": 1,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "light_b_e",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_b",
        "name": "동쪽",
        "order": 2,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "light_b_n",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_b",
        "name": "북쪽",
        "order": 3,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "light_b_w",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_b",
        "name": "서쪽",
        "order": 4,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "dropdown_b",
        "type": "ui_dropdown",
        "z": "9251d5525d119844",
        "name": "운전 모드",
        "label": "운전 모드",
        "group": "group_intersection_b",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": true,
        "options": [
            {
                "label": "일반 주기",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "write_mode_b"
            ]
        ]
    },
    {
        "id": "write_mode_b",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write Mode B",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "86497a2f59dbf570",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 360,
        "y": 1220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "light_c_s",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_c",
        "name": "남쪽",
        "order": 1,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "light_c_e",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_c",
        "name": "동쪽",
        "order": 2,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "light_c_n",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_c",
        "name": "북쪽",
        "order": 3,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "light_c_w",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_c",
        "name": "서쪽",
        "order": 4,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "dropdown_c",
        "type": "ui_dropdown",
        "z": "9251d5525d119844",
        "name": "운전 모드",
        "label": "운전 모드",
        "group": "group_intersection_c",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": true,
        "options": [
            {
                "label": "일반 주기",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "write_mode_c"
            ]
        ]
    },
    {
        "id": "write_mode_c",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write Mode C",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "946a34dccba15f97",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 360,
        "y": 1280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "light_d_s",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_d",
        "name": "남쪽",
        "order": 1,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "light_d_e",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_d",
        "name": "동쪽",
        "order": 2,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "light_d_n",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_d",
        "name": "북쪽",
        "order": 3,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "light_d_w",
        "type": "ui_template",
        "z": "9251d5525d119844",
        "group": "group_intersection_d",
        "name": "서쪽",
        "order": 4,
        "width": 2,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n        <div\n            style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\">\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "dropdown_d",
        "type": "ui_dropdown",
        "z": "9251d5525d119844",
        "name": "운전 모드",
        "label": "운전 모드",
        "group": "group_intersection_d",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": true,
        "options": [
            {
                "label": "일반 주기",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "write_mode_d"
            ]
        ]
    },
    {
        "id": "write_mode_d",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write Mode D",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "282a9bdec27cff20",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 360,
        "y": 1340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2fe6e6594d1ece36",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write to TMC Data Hub",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "100",
        "quantity": "8",
        "server": "bb07d44f9dcc13ad",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 690,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dfd1dba2ea86acf9",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write PLC A Params",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "002416d95ed618bb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "345aa0da70baf62f",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write PLC B Params",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "86497a2f59dbf570",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3083869f26f9a8e9",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write PLC C Params",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "946a34dccba15f97",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "70acb6a73e0143ed",
        "type": "modbus-write",
        "z": "9251d5525d119844",
        "name": "Write PLC D Params",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "server": "282a9bdec27cff20",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bb07d44f9dcc13ad",
        "type": "modbus-client",
        "name": "TMC Localhost Client",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "5020",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "group_tmc_control",
        "type": "ui_group",
        "name": "TMC - 시뮬레이터 및 제어",
        "tab": "main_ui_tab",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "002416d95ed618bb",
        "type": "modbus-client",
        "name": "intersection_a",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "intersection_a_controller",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "86497a2f59dbf570",
        "type": "modbus-client",
        "name": "intersection_b",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "intersection_b_controller",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "946a34dccba15f97",
        "type": "modbus-client",
        "name": "intersection_c",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "intersection_c_controller",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "282a9bdec27cff20",
        "type": "modbus-client",
        "name": "intersection_d",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "intersection_d_controller",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "group_intersection_a",
        "type": "ui_group",
        "name": "A 교차로 현황 및 제어",
        "tab": "main_ui_tab",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "group_intersection_b",
        "type": "ui_group",
        "name": "B 교차로 현황 및 제어",
        "tab": "main_ui_tab",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "group_intersection_c",
        "type": "ui_group",
        "name": "C 교차로 현황 및 제어",
        "tab": "main_ui_tab",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "group_intersection_d",
        "type": "ui_group",
        "name": "D 교차로 현황 및 제어",
        "tab": "main_ui_tab",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "main_ui_tab",
        "type": "ui_tab",
        "name": "스마트시티 통합 교통 관제",
        "icon": "traffic",
        "order": 1
    },
    {
        "id": "c0b1856c1cc7fcb0",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.44.1",
            "node-red-dashboard": "3.6.6"
        }
    }
]