settings/scada/flows.json
[
    {
        "id": "e3e97c9539a58917",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62d17d62fae517a1",
        "type": "modbus-client",
        "name": "plc",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "plc",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "23cca02149ece03d",
        "type": "ui_tab",
        "name": "사거리 신호등 제어",
        "icon": "directions_car",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f9c8599c1ec1b15",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8da45e9cb13d0c90",
        "type": "ui_group",
        "name": "1번 신호등 (남쪽)",
        "tab": "23cca02149ece03d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "33777de276e97c62",
        "type": "ui_group",
        "name": "2번 신호등 (동쪽)",
        "tab": "23cca02149ece03d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "86e4ad7251819730",
        "type": "ui_group",
        "name": "3번 신호등 (북쪽)",
        "tab": "23cca02149ece03d",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "56946ccc5466cb17",
        "type": "ui_group",
        "name": "4번 신호등 (서쪽)",
        "tab": "23cca02149ece03d",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d824861a244c02a",
        "type": "ui_group",
        "name": "제어판",
        "tab": "23cca02149ece03d",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb884a4ab51ee69d",
        "type": "modbus-read",
        "z": "e3e97c9539a58917",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "62d17d62fae517a1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "137e08403b3df5a8",
                "a83eb882efbd8a88"
            ],
            []
        ]
    },
    {
        "id": "137e08403b3df5a8",
        "type": "function",
        "z": "e3e97c9539a58917",
        "name": "function 1",
        "func": "// SCADA Function - 수정된 버전\n// 연속된 12개 값을 받아서 각 신호등별로 분리\n\n// msg.payload는 [R1, Y1, G1, R2, Y2, G2, R3, Y3, G3, R4, Y4, G4] 형태의 배열입니다.\nconst lights = msg.payload.slice(0, 12); // 처음 12개만 사용\n\n// 각 램프 상태를 별도의 메시지로 분리하여 여러 출력으로 보냅니다.\n// 12개의 출력: 4개의 신호등 x 3개 램프 = 12개 출력\nreturn [\n    { payload: lights[0] },  // 1번 신호등 적색\n    { payload: lights[1] },  // 1번 신호등 황색  \n    { payload: lights[2] },  // 1번 신호등 녹색\n    { payload: lights[3] },  // 2번 신호등 적색\n    { payload: lights[4] },  // 2번 신호등 황색\n    { payload: lights[5] },  // 2번 신호등 녹색\n    { payload: lights[6] },  // 3번 신호등 적색\n    { payload: lights[7] },  // 3번 신호등 황색\n    { payload: lights[8] },  // 3번 신호등 녹색\n    { payload: lights[9] },  // 4번 신호등 적색\n    { payload: lights[10] }, // 4번 신호등 황색\n    { payload: lights[11] }  // 4번 신호등 녹색\n];",
        "outputs": 12,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "af81d5cd8f5f691d"
            ],
            [
                "0a2fbe726b533113"
            ],
            [
                "c8a1ef9e0ef11a89"
            ],
            [
                "76cffe2022a4dccb"
            ],
            [
                "92b411a0471645a8"
            ],
            [
                "d8cda9606cf95855"
            ],
            [
                "5b6ccdee1d215a6c"
            ],
            [
                "8567ba083eb591af"
            ],
            [
                "5295dfb27724fa5e"
            ],
            [
                "19354c607794700a"
            ],
            [
                "d8acdde3cb332646"
            ],
            [
                "38c9053bca1ebe44"
            ]
        ]
    },
    {
        "id": "af81d5cd8f5f691d",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "8da45e9cb13d0c90",
        "name": "신호등 1 - 빨강",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'red' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "0a2fbe726b533113",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "8da45e9cb13d0c90",
        "name": "신호등 1 - 노랑",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'yellow' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c8a1ef9e0ef11a89",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "8da45e9cb13d0c90",
        "name": "신호등 1 - 초록",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'lime' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "76cffe2022a4dccb",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "33777de276e97c62",
        "name": "신호등 2 - 빨강",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'red' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5b6ccdee1d215a6c",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "86e4ad7251819730",
        "name": "신호등 3 - 빨강",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'red' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "19354c607794700a",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "56946ccc5466cb17",
        "name": "신호등 4 - 빨강",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'red' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "92b411a0471645a8",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "33777de276e97c62",
        "name": "신호등 2 - 노랑",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'yellow' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8567ba083eb591af",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "86e4ad7251819730",
        "name": "신호등 3 - 노랑",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'yellow' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d8acdde3cb332646",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "56946ccc5466cb17",
        "name": "신호등 4 - 노랑",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'yellow' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d8cda9606cf95855",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "33777de276e97c62",
        "name": "신호등 2 - 초록",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'lime' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5295dfb27724fa5e",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "86e4ad7251819730",
        "name": "신호등 3 - 초록",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'lime' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "38c9053bca1ebe44",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "56946ccc5466cb17",
        "name": "신호등 4 - 초록",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    height: 24px;\n    width: 24px;\n    border-radius: 50%;\n    background-color: {{msg.payload ? 'lime' : '#444'}};\n    border: 1px solid #555;\n    margin: auto;\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8cafe821eac4822f",
        "type": "ui_dropdown",
        "z": "e3e97c9539a58917",
        "name": "",
        "label": "운전 모드 선택",
        "tooltip": "",
        "place": "Select option",
        "group": "7d824861a244c02a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "일반 주기 모드",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸 모드",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색 모드",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "2c6549ce30aaf6a8",
                "ece8c4cec866242e"
            ]
        ]
    },
    {
        "id": "2c6549ce30aaf6a8",
        "type": "modbus-write",
        "z": "e3e97c9539a58917",
        "name": "Write PLC Mode",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "62d17d62fae517a1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 500,
        "y": 620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a83eb882efbd8a88",
        "type": "debug",
        "z": "e3e97c9539a58917",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "ece8c4cec866242e",
        "type": "debug",
        "z": "e3e97c9539a58917",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 700,
        "wires": []
    }
]