settings/scada/flows.json
[
    {
        "id": "e3e97c9539a58917",
        "type": "tab",
        "label": "SCADA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb884a4ab51ee69d",
        "type": "modbus-read",
        "z": "e3e97c9539a58917",
        "name": "Read PLC1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "62d17d62fae517a1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "137e08403b3df5a8"
            ],
            []
        ]
    },
    {
        "id": "137e08403b3df5a8",
        "type": "function",
        "z": "e3e97c9539a58917",
        "name": "Process PLC1 Data",
        "func": "const lights = msg.payload;\n\n// 각 신호등별로 램프 상태를 객체로 묶음\nconst light1 = { r: lights[0], y: lights[1], g: lights[2] };\nconst light2 = { r: lights[3], y: lights[4], g: lights[5] };\nconst light3 = { r: lights[6], y: lights[7], g: lights[8] };\nconst light4 = { r: lights[9], y: lights[10], g: lights[11] };\n\n// 4개의 출력으로 각각의 신호등 객체를 보냄\nreturn [\n    { payload: light1 },\n    { payload: light2 },\n    { payload: light3 },\n    { payload: light4 }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "af81d5cd8f5f691d"
            ],
            [
                "76cffe2022a4dccb"
            ],
            [
                "5b6ccdee1d215a6c"
            ],
            [
                "19354c607794700a"
            ]
        ]
    },
    {
        "id": "af81d5cd8f5f691d",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "8da45e9cb13d0c90",
        "name": "1번 신호등 (남쪽)",
        "order": 1,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "76cffe2022a4dccb",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "8da45e9cb13d0c90",
        "name": "2번 신호등 (동쪽)",
        "order": 2,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5b6ccdee1d215a6c",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "8da45e9cb13d0c90",
        "name": "3번 신호등 (북쪽)",
        "order": 3,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "19354c607794700a",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "8da45e9cb13d0c90",
        "name": "4번 신호등 (서쪽)",
        "order": 4,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8cafe821eac4822f",
        "type": "ui_dropdown",
        "z": "e3e97c9539a58917",
        "name": "",
        "label": "운전 모드 선택",
        "tooltip": "",
        "place": "Select option",
        "group": "8da45e9cb13d0c90",
        "order": 5,
        "width": 5,
        "height": 3,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "일반 주기 모드",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸 모드",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색 모드",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "2c6549ce30aaf6a8"
            ]
        ]
    },
    {
        "id": "2c6549ce30aaf6a8",
        "type": "modbus-write",
        "z": "e3e97c9539a58917",
        "name": "Write PLC1 Mode",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "62d17d62fae517a1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 470,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f015f8e88e1352b3",
        "type": "modbus-read",
        "z": "e3e97c9539a58917",
        "name": "Read PLC2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "83d2f6a93caa7316",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 910,
        "y": 259,
        "wires": [
            [
                "7dc47773a5f9ef68"
            ],
            []
        ]
    },
    {
        "id": "7dc47773a5f9ef68",
        "type": "function",
        "z": "e3e97c9539a58917",
        "name": "Process PLC2 Data",
        "func": "const lights = msg.payload;\n\n// 각 신호등별로 램프 상태를 객체로 묶음\nconst light1 = { r: lights[0], y: lights[1], g: lights[2] };\nconst light2 = { r: lights[3], y: lights[4], g: lights[5] };\nconst light3 = { r: lights[6], y: lights[7], g: lights[8] };\nconst light4 = { r: lights[9], y: lights[10], g: lights[11] };\n\n// 4개의 출력으로 각각의 신호등 객체를 보냄\nreturn [\n    { payload: light1 },\n    { payload: light2 },\n    { payload: light3 },\n    { payload: light4 }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 260,
        "wires": [
            [
                "d8d30721d251812e"
            ],
            [
                "4c896e33c8a07eaa"
            ],
            [
                "0cddab4f9bdd54e2"
            ],
            [
                "3fdf8a1d40c57c6a"
            ]
        ]
    },
    {
        "id": "d8d30721d251812e",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "4615c7d0a3ac37a6",
        "name": "1번 신호등 (남쪽)",
        "order": 1,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4c896e33c8a07eaa",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "4615c7d0a3ac37a6",
        "name": "2번 신호등 (동쪽)",
        "order": 2,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0cddab4f9bdd54e2",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "4615c7d0a3ac37a6",
        "name": "3번 신호등 (북쪽)",
        "order": 3,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1390,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3fdf8a1d40c57c6a",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "4615c7d0a3ac37a6",
        "name": "4번 신호등 (서쪽)",
        "order": 4,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1be973e3c156d0d0",
        "type": "modbus-read",
        "z": "e3e97c9539a58917",
        "name": "Read PLC3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "744f2880b2b6faaf",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 1650,
        "y": 260,
        "wires": [
            [
                "43318fcd14c7bbc8"
            ],
            []
        ]
    },
    {
        "id": "43318fcd14c7bbc8",
        "type": "function",
        "z": "e3e97c9539a58917",
        "name": "Process PLC3 Data",
        "func": "const lights = msg.payload;\n\n// 각 신호등별로 램프 상태를 객체로 묶음\nconst light1 = { r: lights[0], y: lights[1], g: lights[2] };\nconst light2 = { r: lights[3], y: lights[4], g: lights[5] };\nconst light3 = { r: lights[6], y: lights[7], g: lights[8] };\nconst light4 = { r: lights[9], y: lights[10], g: lights[11] };\n\n// 4개의 출력으로 각각의 신호등 객체를 보냄\nreturn [\n    { payload: light1 },\n    { payload: light2 },\n    { payload: light3 },\n    { payload: light4 }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 260,
        "wires": [
            [
                "4664239e6d265a69"
            ],
            [
                "b1cf6a3ae4b72992"
            ],
            [
                "bf10d279002863e8"
            ],
            [
                "c1e7404fc67c737c"
            ]
        ]
    },
    {
        "id": "4664239e6d265a69",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "91b89e94fdb447dc",
        "name": "1번 신호등 (남쪽)",
        "order": 1,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2130,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b1cf6a3ae4b72992",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "91b89e94fdb447dc",
        "name": "2번 신호등 (동쪽)",
        "order": 2,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bf10d279002863e8",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "91b89e94fdb447dc",
        "name": "3번 신호등 (북쪽)",
        "order": 3,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2130,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c1e7404fc67c737c",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "91b89e94fdb447dc",
        "name": "4번 신호등 (서쪽)",
        "order": 4,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7b0b296137784cd5",
        "type": "modbus-read",
        "z": "e3e97c9539a58917",
        "name": "Read PLC4",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "12",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "56ff878a61ca4254",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 2390,
        "y": 260,
        "wires": [
            [
                "67d4f8649e756f07"
            ],
            []
        ]
    },
    {
        "id": "67d4f8649e756f07",
        "type": "function",
        "z": "e3e97c9539a58917",
        "name": "Process PLC4 Data",
        "func": "const lights = msg.payload;\n\n// 각 신호등별로 램프 상태를 객체로 묶음\nconst light1 = { r: lights[0], y: lights[1], g: lights[2] };\nconst light2 = { r: lights[3], y: lights[4], g: lights[5] };\nconst light3 = { r: lights[6], y: lights[7], g: lights[8] };\nconst light4 = { r: lights[9], y: lights[10], g: lights[11] };\n\n// 4개의 출력으로 각각의 신호등 객체를 보냄\nreturn [\n    { payload: light1 },\n    { payload: light2 },\n    { payload: light3 },\n    { payload: light4 }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2630,
        "y": 260,
        "wires": [
            [
                "9f9a148f4f60e003"
            ],
            [
                "8ec1661a619b2036"
            ],
            [
                "b62c1cf636453343"
            ],
            [
                "de71567d151ae150"
            ]
        ]
    },
    {
        "id": "9f9a148f4f60e003",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "1ae6190a2839485e",
        "name": "1번 신호등 (남쪽)",
        "order": 1,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">남쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8ec1661a619b2036",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "1ae6190a2839485e",
        "name": "2번 신호등 (동쪽)",
        "order": 2,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">동쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b62c1cf636453343",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "1ae6190a2839485e",
        "name": "3번 신호등 (북쪽)",
        "order": 3,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">북쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "de71567d151ae150",
        "type": "ui_template",
        "z": "e3e97c9539a58917",
        "group": "1ae6190a2839485e",
        "name": "4번 신호등 (서쪽)",
        "order": 4,
        "width": 1,
        "height": 3,
        "format": "<div style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;\">\n    <p style=\"margin: 0 0 5px 0; font-size: 14px; font-weight: bold;\">서쪽</p>\n    <div style=\"padding: 5px; background-color:#333; border-radius: 10px; width: 38px;\">\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.r ? 'red' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.y ? 'yellow' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n        <div style=\"height: 28px; width: 28px; border-radius: 50%; background-color: {{msg.payload.g ? 'lime' : '#555'}}; border: 1px solid #666; margin: 3px auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2870,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1f2cadbf97fb5c6e",
        "type": "ui_dropdown",
        "z": "e3e97c9539a58917",
        "name": "",
        "label": "운전 모드 선택",
        "tooltip": "",
        "place": "Select option",
        "group": "4615c7d0a3ac37a6",
        "order": 5,
        "width": 5,
        "height": 3,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "일반 주기 모드",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸 모드",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색 모드",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 910,
        "y": 600,
        "wires": [
            [
                "01cc6209bdf40df3"
            ]
        ]
    },
    {
        "id": "01cc6209bdf40df3",
        "type": "modbus-write",
        "z": "e3e97c9539a58917",
        "name": "Write PLC2 Mode",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "83d2f6a93caa7316",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1210,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2a279c8c07b9340f",
        "type": "ui_dropdown",
        "z": "e3e97c9539a58917",
        "name": "",
        "label": "운전 모드 선택",
        "tooltip": "",
        "place": "Select option",
        "group": "91b89e94fdb447dc",
        "order": 5,
        "width": 5,
        "height": 3,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "일반 주기 모드",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸 모드",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색 모드",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1650,
        "y": 600,
        "wires": [
            [
                "0af37e416a377ad2"
            ]
        ],
        "icon": "font-awesome/fa-car"
    },
    {
        "id": "0af37e416a377ad2",
        "type": "modbus-write",
        "z": "e3e97c9539a58917",
        "name": "Write PLC3 Mode",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "744f2880b2b6faaf",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1950,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d75d457a44ca0cb0",
        "type": "ui_dropdown",
        "z": "e3e97c9539a58917",
        "name": "",
        "label": "운전 모드 선택",
        "tooltip": "",
        "place": "Select option",
        "group": "1ae6190a2839485e",
        "order": 5,
        "width": 5,
        "height": 3,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "일반 주기 모드",
                "value": 1,
                "type": "num"
            },
            {
                "label": "심야 점멸 모드",
                "value": 2,
                "type": "num"
            },
            {
                "label": "전체 적색 모드",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2390,
        "y": 600,
        "wires": [
            [
                "959bdef97eeb26ba"
            ]
        ]
    },
    {
        "id": "959bdef97eeb26ba",
        "type": "modbus-write",
        "z": "e3e97c9539a58917",
        "name": "Write PLC4 Mode",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "56ff878a61ca4254",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 2690,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "62d17d62fae517a1",
        "type": "modbus-client",
        "name": "plc1",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "plc1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "8da45e9cb13d0c90",
        "type": "ui_group",
        "name": "A 사거리 현황 및 제어",
        "tab": "23cca02149ece03d",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83d2f6a93caa7316",
        "type": "modbus-client",
        "name": "plc2",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "plc2",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "4615c7d0a3ac37a6",
        "type": "ui_group",
        "name": "B 사거리 현황 및 제어",
        "tab": "23cca02149ece03d",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "744f2880b2b6faaf",
        "type": "modbus-client",
        "name": "plc3",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "plc3",
        "tcpPort": "504",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "91b89e94fdb447dc",
        "type": "ui_group",
        "name": "C 사거리 현황 및 제어",
        "tab": "23cca02149ece03d",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56ff878a61ca4254",
        "type": "modbus-client",
        "name": "plc4",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "plc4",
        "tcpPort": "505",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "1ae6190a2839485e",
        "type": "ui_group",
        "name": "D 사거리 현황 및 제어",
        "tab": "23cca02149ece03d",
        "order": 4,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23cca02149ece03d",
        "type": "ui_tab",
        "name": "전체 사거리 신호등 통합 제어",
        "icon": "directions_car",
        "disabled": false,
        "hidden": false
    }
]